# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
*.iml
.idea/

# Gradle
.gradle/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Docker
*.pid

# Env files
.env
